# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Flask stuff:
instance/
.webassets-cache

# Environments
venv/


# Run data
download_temp/*
ard_store/*
result/*
result_temp/*
result_publish/*


# Pycharm config
.idea

# log file
.log