# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Flask stuff:
instance/
.webassets-cache

# Environments
venv/


# Run data
input/*
output/*
download_dir/*
result/*

# Pycharm config
.idea
